html{
    font-size: 1px;
}

body {
    background-color: #8dc63f;
    font-family: Arial, sans-serif;
    margin: 0;
    cursor: url(../img/cursor.webp) auto;
}

.wrapper {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 960rem;
    padding: 0 15rem;
    box-sizing: border-box;
}
.header {
    display: block;
    margin: 0;
    text-align: center;
}


.logo{
    padding-top: 25rem;
}

.logo p,
.contacts a {
    font-size: 22rem;
    color: #39930d;
    text-decoration: none;
}

.logo b{
    padding: 0 35rem0 0;
}

.logo {
    padding-bottom: 12rem;
    display: block;
    align-items: center;
}

.logo p,
.contacts p {
    margin: 0;
    padding-bottom: 10rem;
}

.logo b {
    display: block;
    font-size: 44rem;
    color: #39930d;
}
.logo i {
    font-size: 14rem;
    color: #5a5a5a;
}
.manager {
    color: #39930d;
    font-size: 44rem;
    margin: 0;
    padding-top: 5rem;
}
.official-site {
    color: #5a5a5a;
    font-size: 14rem;
    margin: 0;
    padding-top: 11rem;
}
.football {
    color: #39930d;
    font-size: 22rem;
    margin: 0;
    padding-top: 25rem;
}
.contacts {
    text-decoration: none;
    margin: 0;
    padding-top: 26rem;
}
.phone-link {
    font-size: 22rem;
    color: #39930d;
    text-decoration: none;
    margin: 0;
    padding-bottom: 10rem;
}

.pb{
    padding-bottom: 10rem;
}

.phone-link:hover {
    color: #9c1515;
}
.hz {
    color: #5a5a5a;
    font-size: 14rem;
    margin: 0;
}
.main {
    display: block;
    justify-content: space-between;
    padding-top: 30rem;
}
.pro-fotball{
    color: #39930d;
    font-size:24rem;
    margin: 0;
    line-height: 1em;
}

.pro-fotball p{
    line-height: 7rem;
}


.menu {
    color: #fff;
    width: 100%;
    line-height: 1.5em;
    margin: 0;
    background-color: #f1feff;
    margin-bottom: 21rem;
}
.partner {
    background-color: #39930d;
    font-size: 18rem;
    padding: 20rem 20rem;
    margin: 0;
}
.picture {
    width: 100%;
    height: 200rem;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}
.url {
    color: #39930d;
    font-size: 14rem;
    text-transform: uppercase;
    list-style: none;
    padding-left: 20rem;
    line-height: 2em;
    
}

.link:hover {
    color: #c21e1e;
}
.footer-text {
    background-color: #39930d;
    color: #fff;
    padding: 10rem 17rem;
    margin: 0 -15rem;
    font-size: 14rem;
}
.main-text {
    width: 100%;
    max-width: 600rem;
    color: #343434;
    padding: 0 0 10rem 0;
}

.main-text p{
    line-height: 1.5em;
    font-size: 14rem;
}

.link {
    color: #39930d;
}

@media screen and (min-width: 425px) {
    .logo{
        display: flex;
        justify-content: center;
        text-align: start;
        
    }

    .header{
        text-align: left;
    }
    .ball{
        padding-left: 34rem;
        display: block;
    }
    .contacts{
        padding-top: 0;
        text-align: center;
    }
}

@media screen and (min-width: 620px) {
    .header {
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin: 0;
    }

    .contacts{
        text-align: right;
        padding-top: 25rem;
    }

    .logo{
        display: flex;
    }

    .ball{
        padding-left: 34rem;
    }
}

@media screen and (min-width: 660px){
    .main{
        display: flex;  
    }

    .menu{
        height: 41rem;
        max-width: 285rem;
        margin-left: 15rem;
    }
}

@media screen and (min-width: 2560px) {
    html{
        font-size: 2px;
    }
    
    .ball{
        height: 100rem;
    }
    
}